body {
  margin: 0;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff; /* Color de fondo del header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del header */
  z-index: 1000;  
}

  .logoContainer{
    display: flex;

  }
  
  .logo{
    height: 50px;
    align-items: center;
  }

  .navContainer{
    text-decoration: none;
    color: rgb(113, 107, 107);
    font-weight: 600;
    padding-right: 10px;
  }
  
/*
  .homeButton {
  position: absolute;
  top: 50%;
  margin-right: 25%;
  right: 60px;
  color: rgb(113, 107, 107);
  font-size: 14px;
  border-radius: 5px;
  transition: color 0.3s;
  }
  
  .homeButton:hover {
    color: #b70303;
  }

  .publicarButton{
    position: absolute;
    top: 50%;
    margin-right: 15%;
    right: 50px;
    color: rgb(113, 107, 107);
    font-size: 14px;
    border-radius: 5px;
    transition: color 0.3s;
  }
  
  .publicarButton:hover {
    color: #b70303;
  }

  .headerContainer Button{
    position: absolute;
    top: 50%;
    margin-right: 7%;
    top: 30px;
    right: 70px;
    color: rgb(113, 107, 107);
    border: 0.5px solid rgb(113, 107, 107);
    font-size: 14px;
    border-radius: 5px;
    transition: color 0.3s;
    background-color: white;
    }

    .headerContainer Button:hover {
      background-color: rgb(113, 107, 107,0.4); 
      border: none;
      color: white;
    }*/