.imagesSliderContainer {
  position: fixed;
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Mueve el contenedor hacia arriba y hacia la izquierda para centrarlo */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 700px;
  overflow: hidden;
  background-color: rgba(113, 107, 107, 0.5);
  z-index: 50;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 25px;
  
}


.cardsContainer {
  position: fixed;
  top: 16%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 86%;
  height: 80%;
  background-color: rgba(113, 107, 107, 0.5);
  border-radius: 10px;
  z-index: 50;
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
  justify-content: space-between; /* Distribuye el espacio entre las tarjetas */
}


.sliderImage {
  width: 100%; /* Para que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Para que la imagen ocupe todo el alto del contenedor */
  object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */
  opacity: 1; /* Inicialmente establece la opacidad en 1 */
  transition: opacity 0.5s ease; /* Transición de opacidad */
  background-color: black;
}

.imageLoading {
  opacity: 0; /* Cuando isLoading es true, muestra la imagen */
  background-color: black;
}

.loader {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}


.arrowContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.prevArrow,
.nextArrow {
  cursor: pointer;
  font-size: 30px;
  color: rgba(113, 107, 107, 0.5);
}

.prevArrow:hover,
.nextArrow:hover {
  color: rgb(113, 107, 107);
}

.dot {
  width: 6px; /* Ancho del punto */
  height: 6px; /* Alto del punto */
  background-color: rgb(113, 107, 107); /* Color del punto */
  border-radius: 50%; /* Forma circular */
  margin: 0 5px; /* Espacio entre las flechas y el punto */
}