.adminCardsContainer {
    margin-top: 2%;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
    padding-top: 28px;
    padding-bottom: 20px;
    max-width: 95%;
    width: 1400px;
    height: 800px;
    border-radius: 10px;
    z-index: 1;
    gap: 20px;
    top: 15%;
}
.cardsContainer::-webkit-scrollbar {
    width: 0px; /* Ancho del scroll */
    background-color: transparent; /* Fondo transparente */
  }
  
  .cardsContainer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Color del scroll */
    border-radius: 0px; /* Borde redondeado */
  }

@media screen and (max-width: 768px) {
    .adminCardsContainer {
        max-width: 90%;
    }
}
