.reviewCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 75vw;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .reviewCardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .reviewCardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
