.card {
    color: #fff;
    padding: 1%;
    border-radius: 20px;
    width: 20%;
    height: 30vh;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    z-index: 10;
    border: 1px solid antiquewhite;
  }
  