.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 70px;
  max-width: 100%;
  max-height: 30%;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .adminNavBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .logoPyd{
    width: 18%;
    margin-top: 0%;
    margin-left: -65%;
  }

  .homeButton {
  position: absolute;
  top: 50%;
  margin-right: 25%;
  right: 60px;
  color: rgb(113, 107, 107);
  font-size: 14px;
  border-radius: 5px;
  transition: color 0.3s;
  }
  
  .homeButton:hover {
    color: #b70303;
  }

  .publicarButton{
    position: absolute;
    top: 50%;
    margin-right: 15%;
    right: 50px;
    color: rgb(113, 107, 107);
    font-size: 14px;
    border-radius: 5px;
    transition: color 0.3s;
  }
  
  .publicarButton:hover {
    color: #b70303;
  }

  .headerContainer Button{
    position: absolute;
    top: 50%;
    margin-right: 7%;
    top: 30px;
    right: 70px;
    color: rgb(113, 107, 107);
    border: 0.5px solid rgb(113, 107, 107);
    font-size: 14px;
    border-radius: 5px;
    transition: color 0.3s;
    background-color: white;
    }

    .headerContainer Button:hover {
      background-color: rgb(113, 107, 107,0.4); 
      border: none;
      color: white;
    }