.adminCardContainer {
  display: flex;
  flex-direction: row; /* Disposición en fila para elementos secundarios */
  justify-content: left; /* Centra los elementos secundarios horizontalmente */
  align-items: center; /* Centra los elementos secundarios verticalmente */
  width: 100%; /* Ancho completo para ocupar el espacio disponible */
  max-width: 500px; /* Aumenta el ancho máximo */
  height: 15%; /* Altura automática para ajustarse al contenido */
  padding: 4%; /* Espaciado interno de la tarjeta */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

/* Media query para ajustar el ancho máximo en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .adminCardContainer {
    max-width: 90%; /* Cambiar el valor según tus necesidades */
  }
}

.adminCardContainer:hover {
  transform: translateY(-5px);
  border-color: rgb(113, 107, 107);
  box-shadow: 0px 0px 8px rgb(113, 107, 107);
}

.adminCardContainer h3 {
  font-size: 0.7em;
  color: rgb(113, 107, 107);
  text-align: center;
  overflow: hidden;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-overflow: ellipsis; /* Muestra tres puntos (...) cuando el texto desborda */
  margin-top:-1.5vh;
}

.adminCardContainer p {
  font-size: 1em;
  color: rgb(113, 107, 107);
  font-style: italic;
  overflow: hidden; /* Oculta el texto que no cabe */
  margin-top: -1vh;
  text-align: center;
}

/*++++++++++++++++++++++*/

.imageContainer{
  background-color: rgb(113, 107, 107, 0.5);
  border-radius: 10px;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 70%;
  object-position: center center;
}
  
.adminCardContainer img {
  display: block;
  width: 100%;
  height: 100%; /* Establece una altura fija para las imágenes */
  object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
  object-position: center center; /* Alinea la imagen en el centro horizontal y en la parte superior vertical */
  border-radius: 10px;
}  
 
.adminCardContainer a {
  text-decoration: none;
  color: inherit;
}
.adminCardContainer a:hover {
  color: inherit;
  text-decoration: none;
}

.fullImageContainer{
  width: 180px;
  height: 180px;
}

.arrowContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.prevArrow,
.nextArrow {
  cursor: pointer;
  font-size: 18px;
  color: rgb(113, 107, 107, 0.5);
}

.prevArrow:hover,
.nextArrow:hover {
  color: rgb(113, 107, 107);
}

.dot {
  width: 3px; /* Ancho del punto */
  height: 3px; /* Alto del punto */
  background-color: rgb(113, 107, 107, 0.2); /* Color del punto */
  border-radius: 50%; /* Forma circular */
  margin: 0 5px; /* Espacio entre las flechas y el punto */
}

/*++++++++++++++++++++++*/

.infoContainer{
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column; /* Cambia la dirección de los elementos a columnas */
  border-radius: 10px;
  width: 150px;
  padding: 3px;
  height: 150px; /* Ajusta la altura del contenedor */
}

.buttonsContainer button {
  margin-bottom: 10px; /* Agrega margen inferior para separar los botones */
}
