.navBarContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85vw;
    height: 10.5%;
    border-radius: 8px;
    border: 1px solid antiquewhite;
    padding: 1%;
    overflow: hidden;
    margin-top: -8%;
    background-color: whitesmoke;
    z-index: 100;
  }

  .adminNavBarContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 7%;
    border-radius: 8px;
    padding: 1%;
    overflow: hidden;
    margin-top: -5.5%;
    margin-left: -15%;
    z-index: 100;
  }

  .logoPyd{
    width: 18%;
    margin-top: 0%;
    margin-left: -84%;
  }

  .homeButton {
    margin-top: -3%;
    margin-right: -8%;
    color: rgb(113, 107, 107);
    font-size: 0.90vw;
    border-radius: 5px;
    background-color: whitesmoke;
    transition: color 0.3s;
  }
  
  .homeButton:hover {
    color: #b70303;
  }

  .publicarButton{
    margin-top: -1.5%;
    margin-right: -25%;
    color: rgb(113, 107, 107);
    font-size: 0.90vw;
    border-radius: 5px;
    background-color: whitesmoke;
    transition: color 0.3s;
  }
  
  .publicarButton:hover {
    color: #b70303;
  }